logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.sbtserver
/RUNNING_PID
project/project
project/target
tmp
projectFilesBackup
public/uploads
**/.DS_Store

/conf/local.conf
/conf/logback-local.xml